@model IEnumerable<FacebookFriendsOnlineTimeLogger.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnlineIntervals)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayName("Start")
                    </th>
                    <th>
                        @Html.DisplayName("End")
                    </th>
                    <th>
                        @Html.DisplayName("Still Useable")
                    </th>
                </tr>
                @foreach (var interval in item.OnlineIntervals)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => interval.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => interval.EndTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => interval.IsUseableInterval)
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
}

</table>
